footer {
    justify-content: space-evenly;
    min-height: 281px;
    background: linear-gradient(to top, #A91874 0%, #550C3A 100%);
    color: var(--white);
    padding: 56px 1rem 1rem;
}

.footer-logo div {
    width: 13rem;
    height: 3.5rem;
}

.footer-logo p {
    font-size: 0.625rem;
    margin-top: 1.25rem;
}

.address {
    margin-left: 3rem;
}

.address>div {
    margin-bottom: 2.0625rem;
}

.address>div>p {
    margin-right: 1rem;
    width: 9.375rem;
    text-align: right;
}

.address a {
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 21.875rem;
}

.social {
    width: 5.741rem;
    height: 1.633rem;
}

@media (max-width:800px) {
    footer {
        font-size: 3vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .company_information {
        flex-direction: column;
    }
}